<h1>Book Form</h1>
<hr>

<form action="/books" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title"><br>
  <label for="authors">Authors:</label>
  <input type="text" name="authors"><br>
  <br><br>
  <button class="btn btn-info" type="submit" name="button">Add Book</button>
</form>
