<h1>The Library</h1>

<form action="/patron_list">
  <button type="submit" class="btn btn-success" name="button">Patron Portal</button>
</form>
<br>
<form action="/book_list">
  <button type="submit" class="btn btn-info" name="button">Book Portal</button>
</form>
