<h1>Patron Form</h1>
<hr>

<form action="/patrons" method="post">
  <label for="name">Name:</label><br>
  <input type="text" name="name"><br><br>
  <button class="btn btn-info" type="submit" name="button">Add Patron</button>
</form>
